*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#fdcb6e;
    --darkGray: #484f59;
    --background-color: #ffeaa7;
    --light:rgb(247, 247, 247);
    --gray-color:  #808080;
   --white-color: #ffffff;
   --black-color:#000;
    --lightGray-color: #bfc0c1;
    --lightGray2-color:#ebeaead6;
    --darkGray-color:#484f59;

}

